$font-size = 30px

*
  box-sizing border-box
body
  font-size $font-size
  font-family sans-serif
.header
  width 100%
  height 15vh
  text-align center
  line-height 15vh
  border: 1px solid black
.main
  height 83vh 
  width 100%
  padding-top 10px
  display flex
  .sider
    height 100%
    flex-basis 15%
    display flex
    align-items center
    justify-content center
    border: 1px solid black
  .content
    flex-basis 70%
    line-height 50px
    display flex
    align-items center
    justify-content center
    text-align center